#new profiles. These profiles do not consider leader vehicle velocity in function of pdf
profile = {name = DARING; betaA-acc = 3; betaB-acc = 4; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
profile = {name = SLOW; betaA-acc = 5; betaB-acc = 3; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
profile = {name = STANDARD; betaA-acc = 5; betaB-acc = 5; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}


#old profiles employed in the previous paper. In there, we also considered beta PDF in leader vehicle velocity
profile = {name = DARING; betaA-acc = 1; betaB-acc = 4; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
profile = {name = SLOW; betaA-acc = 6; betaB-acc = 6; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
profile = {name = STANDARD; betaA-acc = 5; betaB-acc = 9; inc = 5; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}

