#simulation info
model = SL-STANDARD-02-HR-1.5-PAPER
max-speed = 25
cellX = 10000
cellY = 1
size = 1.5
default-size = 7.5
time-steps = 10000
transiente-steps = 1000
statistic-steps = 120
initial-density = 0.01
delta-density = 0.01
final-density = 0.99
profiles-occupation = {1.0}
photo      = 1
fixed      = 1
logCluster = 1
log        = 0
logStatistic = 1
deceleration = 3
space-perception = 12
road-block = 0
last-log-vehicles = -1
profile = {name = STANDARD; betaA-acc = 8; betaB-acc = 7; inc = 4; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
EOF
#Include block road
#Include the last three vehicles log
#Include the simulation sufix in vehicle log file.
#HR means high resolution (cells of 0.5 meters)
