#simulation info
model = SL-STANDARD-02-HR-1.5-PAPER-BLOCKED
max-speed = 15
cellX = 1000
cellY = 1
size = 1.5
default-size = 7.5
time-steps = 200
transiente-steps = 0
statistic-steps = 120
initial-density = 0.10
delta-density = 0.02
final-density = 0.11
profiles-occupation = {1.0}
photo      = 0
fixed      = 0
logCluster = 0
log        = 0
logStatistic = 0
deceleration = 3
space-perception = 12
road-block = 1
last-log-vehicles = 5
profile = {name = STANDARD; betaA-acc = 8; betaB-acc = 7; inc = 4; desc = 1; vehicle-size = 5; max-speed = 25; left-probability  = 1.00;  right-probability = 1.00;}
EOF
#Include block road
#Include the last three vehicles log
#Include the simulation sufix in vehicle log file.
#HR means high resolution (cells of 0.5 meters)
